{% extends 'theme_AdminLTE/management/base_sec.html' %}
<!-- 网盘添加 -->

<!-- 左导航列表 -->
{% block sidebarMenu %}
    {{sidebar|safe}}
{% endblock sidebarMenu %}

<!--面包屑导航-->
{% block breadcrumb %}
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> {{Level}}</a></li>
        <li class="active">{{Here}}</li>
      </ol>
{% endblock %}

<!-- 分页主内容 -->
{% block PageContent %}
<div class="box box-warning">
            <div class="box-header with-border">
              <h3 class="box-title"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">一般要素</font></font></h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
              <form role="form">
                <!-- text input -->
                <div class="form-group">
                  <label><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">文本</font></font></label>
                  <input type="text" class="form-control" placeholder="Enter ...">
                </div>
                <div class="form-group">
                  <label><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">禁用文字</font></font></label>
                  <input type="text" class="form-control" placeholder="Enter ..." disabled="">
                </div>

                <!-- textarea -->
                <div class="form-group">
                  <label><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">多行文本</font></font></label>
                  <textarea class="form-control" rows="3" placeholder="Enter ..."></textarea>
                </div>
                <div class="form-group">
                  <label><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Textarea已禁用</font></font></label>
                  <textarea class="form-control" rows="3" placeholder="Enter ..." disabled=""></textarea>
                </div>

                <!-- input states -->
                <div class="form-group has-success">
                  <label class="control-label" for="inputSuccess"><i class="fa fa-check"></i><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"> 输入成功</font></font></label>
                  <input type="text" class="form-control" id="inputSuccess" placeholder="Enter ...">
                  <span class="help-block"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">帮助阻止成功</font></font></span>
                </div>
                <div class="form-group has-warning">
                  <label class="control-label" for="inputWarning"><i class="fa fa-bell-o"></i><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"> 输入警告</font></font></label>
                  <input type="text" class="form-control" id="inputWarning" placeholder="Enter ...">
                  <span class="help-block"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">帮助阻止警告</font></font></span>
                </div>
                <div class="form-group has-error">
                  <label class="control-label" for="inputError"><i class="fa fa-times-circle-o"></i><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"> 输入有错误</font></font></label>
                  <input type="text" class="form-control" id="inputError" placeholder="Enter ...">
                  <span class="help-block"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">帮助阻止错误</font></font></span>
                </div>

                <!-- checkbox -->
                <div class="form-group">
                  <div class="checkbox">
                    <label>
                      <input type="checkbox"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">
                      复选框1
                    </font></font></label>
                  </div>

                  <div class="checkbox">
                    <label>
                      <input type="checkbox"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">
                      复选框2
                    </font></font></label>
                  </div>

                  <div class="checkbox">
                    <label>
                      <input type="checkbox" disabled=""><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">
                      复选框已禁用
                    </font></font></label>
                  </div>
                </div>

                <!-- radio -->
                <div class="form-group">
                  <div class="radio">
                    <label>
                      <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked=""><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">
                      选项一是这个，并且 - 一定要包括为什么它很棒
                    </font></font></label>
                  </div>
                  <div class="radio">
                    <label>
                      <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">
                      选项二可以是其他选项，选择它将取消选择选项一
                    </font></font></label>
                  </div>
                  <div class="radio">
                    <label>
                      <input type="radio" name="optionsRadios" id="optionsRadios3" value="option3" disabled=""><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">
                      选项三被禁用
                    </font></font></label>
                  </div>
                </div>

                <!-- select -->
                <div class="form-group">
                  <label><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">选择</font></font></label>
                  <select class="form-control">
                    <option><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">选项1</font></font></option>
                    <option><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">选项2</font></font></option>
                    <option><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">选项3</font></font></option>
                    <option><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">选项4</font></font></option>
                    <option><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">选项5</font></font></option>
                  </select>
                </div>
                <div class="form-group">
                  <label><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">选择已禁用</font></font></label>
                  <select class="form-control" disabled="">
                    <option><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">选项1</font></font></option>
                    <option><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">选项2</font></font></option>
                    <option><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">选项3</font></font></option>
                    <option><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">选项4</font></font></option>
                    <option><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">选项5</font></font></option>
                  </select>
                </div>

                <!-- Select multiple-->
                <div class="form-group">
                  <label><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">选择多个</font></font></label>
                  <select multiple="" class="form-control">
                    <option><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">选项1</font></font></option>
                    <option><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">选项2</font></font></option>
                    <option><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">选项3</font></font></option>
                    <option><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">选项4</font></font></option>
                    <option><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">选项5</font></font></option>
                  </select>
                </div>
                <div class="form-group">
                  <label><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">选择Multiple Disabled</font></font></label>
                  <select multiple="" class="form-control" disabled="">
                    <option><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">选项1</font></font></option>
                    <option><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">选项2</font></font></option>
                    <option><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">选项3</font></font></option>
                    <option><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">选项4</font></font></option>
                    <option><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">选项5</font></font></option>
                  </select>
                </div>

              </form>
            </div>
            <!-- /.box-body -->
          </div>
{% endblock PageContent %}