{% extends 'theme_AdminLTE/management/base_sec.html' %}
{% load static %}
{% load tags %}
<!-- 网盘添加 -->

{% block css %}
    <!-- DataTables -->
    <link rel="stylesheet" href="{% static 'AdminLTE-2.4.15/bower_components/datatables.net-bs/css/dataTables.bootstrap.css' %}">
    <!-- fileinput -->
    <link href="https://cdn.bootcss.com/bootstrap-fileinput/5.0.5/css/fileinput.min.css" rel="stylesheet">


    <style>
        .table-hover>tbody>tr:hover {
            background-color: rgba(62, 248, 217, 0.81);
            }
    </style>
{% endblock css %}

<!-- 左导航列表 -->
{% block sidebarMenu %}
    {{sidebar|safe}}
{% endblock sidebarMenu %}

<!--面包屑导航-->
{% block breadcrumb %}
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> {{Level}}</a></li>
        <li class="active">{{Here}}</li>
        <li class="active">{{Here}}</li>
        <li class="active">{{Here}}</li>
      </ol>
{% endblock %}

<!-- 分页主内容 -->
{% block PageContent %}
<div class="box">
    <div class="box-header">
      <h3 class="box-title">存储仓库</h3>
    </div>
    <div class="box-body">
    <a href="?name={{ Here }}">

        <button type="button" class="btn btn-info" data-toggle="modal" data-target="#modal-info">
            <i class="fa fa-folder-open-o"> </i> 返回根目录 <i class="fa fa-reply-all"></i>
        </button>
    </a>
    </a>
    <a href="?name={{ Here }}{% if goback %}&path={{goback}}{% endif %}">
        <button type="button" class="btn btn-info" data-toggle="modal" data-target="#modal-info">
            <i class="fa fa-folder-open-o"> </i> 返回上一级 <i class="fa fa-reply"></i>
        </button>
    </a>
    <button class="btn btn-info" id="modalBtn" data-toggle="modal" data-target="#myModal">
        <i class="fa fa-upload"> </i> 上传文件
    </button>
    </div>
    <!-- /.box-header -->
    <div class="box-body">
    <div id="example1_wrapper" class="dataTables_wrapper form-inline dt-bootstrap">
    <div class="row">
    <div class="col-sm-12">
    <table id="fileDataTabel" class="table table-hover table-striped dataTable" role="grid" aria-describedby="fileDataTabel_info">
    <thead>
    <tr role="row">
    <th class="sorting_asc" tabindex="0" aria-controls="fileDataTabel" rowspan="1" colspan="1" aria-sort="ascending" aria-label="根据 文件/目录 名 排序" style=";">文件/目录 名</th>
    <th class="sorting" tabindex="0" aria-controls="fileDataTabel" rowspan="1" colspan="1" aria-label="根据 大小 排序" style="">状态</th>
    <th class="sorting" tabindex="0" aria-controls="fileDataTabel" rowspan="1" colspan="1" aria-label="根据 大小 排序" style="">大小</th>
    <th class="sorting" tabindex="0" aria-controls="fileDataTabel" rowspan="1" colspan="1" aria-label="根据 修改日期 排序" style="">修改日期</th>
    </tr>
    </thead>
    <tbody>
    {% for item in files %}
    <tr role="row" class="sorting_1">
    <td>
        {% if item.mimeType == '文件夹' %}
        <a href="?name={{ Here }}&path={% if item.parentRoot %}{{item.parentRoot}}{% endif %}/{{ item|get_item:'name' }}">
            <i class="fa {{item.fileIco}}"></i>
            {{ item|get_item:"name" }}
            {% if item.childCount %}<small style="font-size: 5px;color: #8c8c8c;">(包含 {{ item|get_item:"childCount" }} 个子项）</small>{% endif %}
        </a>
        {% else %}
        <a href="file?name={{ Here }}&path={% if item.parentRoot %}{{item.parentRoot}}{% endif %}/{{ item|get_item:'name' }}">
            <i class="fa {{item.fileIco}}"></i>
            {{ item|get_item:"name" }}
        </a>
        <a href="{{item.download}}" style="float: right;"><i class="fa fa-download"></i></a>
        {% endif %}

    </td>
    <td><span>是否为隐藏文件</span></td>
    <td><span>{{ item.size.o }}</span></td>
    <td>{{ item|get_item:"lastModifiedDateTime" }}</td>
    </tr>
    {% endfor %}
    </tbody>
    <tfoot>
    <tr>
    <th rowspan="1" colspan="1">文件/目录 名</th>
    <th rowspan="1" colspan="1">大小</th>
    <th rowspan="1" colspan="1">修改日期</th>
    </tfoot>
    </table>
    </div>
    </div>
    </div>
    </div>
    <!-- /.box-body -->
</div>

<!-- 弹窗 -->
<div class="modal animated fade" id="upModal" tabindex="-1" role="dialog" aria-labelledby="upModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content text-center">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="upModalLabel">上传文件</h4>
            </div>
            <div class="modal-body">
                <input id="upload-file" type="file" class="file-loading" name="filesdata" multiple />
                <!--<input id="upload-file" type="file" class="file-loading" name="fileData" multiple />-->
            </div>
            <div class="modal-footer">
                <!--<button type="button" class="btn btn-default pull-left" data-dismiss="modal">关闭</button>-->
                <!--<button type="button" class="btn btn-primary">提交更改</button>-->
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>

<!--{{test|slice:":1"}}<br>-->
<!--{{ test.2 }}<br>-->
<!--{{ info.2.folder }}<br>-->

<!--{% for item in info %}-->
<!--<tr role="row" class="">-->
    <!--<td>{{ item.folder.childCount }}</td>-->
<!--</tr>-->
<!--{% endfor %}-->

{% endblock PageContent %}

<!--添加外联JS-->
{% block Jscript %}
<script src="{% static 'AdminLTE-2.4.15/bower_components/datatables.net/js/jquery.dataTables.js' %}"></script>
<script src="{% static 'AdminLTE-2.4.15/bower_components/datatables.net-bs/js/dataTables.bootstrap.js' %}"></script>
<script src="https://cdn.bootcss.com/bootstrap-fileinput/5.0.5/js/fileinput.js"></script>
<script src="https://cdn.bootcss.com/bootstrap-fileinput/5.0.5/js/locales/zh.min.js"></script>
{% endblock Jscript %}

{% block script %}
<script>
    // 文件列表
    $(function () {
    $('#fileDataTabel').DataTable({
    // 'paging'      : true,
    // 'lengthChange': true,
    // 'searching'   : true,
    // 'ordering'    : true,
    // 'info'        : true,
    // 'autoWidth'   : true,
    language: {
       "sProcessing": "处理中...",
       "sLengthMenu": "显示 _MENU_ 项结果",
       "sZeroRecords": "没有匹配结果",
       "sInfo": "显示第 _START_ 至 _END_ 项结果，共 _TOTAL_ 项",
       "sInfoEmpty": "显示第 0 至 0 项结果，共 0 项",
       "sInfoFiltered": "(由 _MAX_ 项结果过滤)",
       "sInfoPostFix": "",
       "sSearch": "搜索:",
       "sUrl": "",
       "sEmptyTable": "表中数据为空",
       "sLoadingRecords": "载入中...",
       "sInfoThousands": ",",
       "oPaginate": {
           "sFirst": "首页",
           "sPrevious": "上页",
           "sNext": "下页",
           "sLast": "末页"
       },
       "oAria": {
           "sSortAscending": ": 以升序排列此列",
           "sSortDescending": ": 以降序排列此列"
       }
    }
    });
    })

    // 上传文件 弹窗
    $(function(){
    // dom加载完毕
    var $m_btn = $('#modalBtn');
    var $modal = $('#upModal');
    $m_btn.on('click', function(){
      $modal.modal({backdrop: 'static'});
    });

    // bootstrap 居中
    $modal.on('show.bs.modal', function(){
      var $this = $(this);
      var $modal_dialog = $this.find('.modal-dialog');
      // 关键代码，如没将modal设置为 block，则$modala_dialog.height() 为零
      $this.css('display', 'block');
      $modal_dialog.css({'margin-top': Math.max(0, ($(window).height() - $modal_dialog.height()) / 2) });
    });

    });

    // 获取头部
    function getCookie(name) {
        var cookieValue = null;
         if (document.cookie && document.cookie != '') {
            var cookies = document.cookie.split(';');
        for (var i = 0; i < cookies.length; i++) {
            var cookie = jQuery.trim(cookies[i]);
            if (cookie.substring(0, name.length + 1) == (name + '=')) {
            cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
            break;
            }
        }
        }
        return cookieValue;
    }
    // 获取url链接参数
    function getQueryVariable(variable)
    {
           var query = window.location.search.substring(1);
           var vars = query.split("&");
           for (var i=0;i<vars.length;i++) {
                   var pair = vars[i].split("=");
                   if(pair[0] == variable){return pair[1];}
           }
           return('');
    }

    // 上传文件插件
    var aryFiles = Array();
        $('#upload-file').fileinput({
            language: 'zh',     // 设置语言，需要引入locales/zh.js文件
            uploadUrl: 'uploader',     // 上传路径
            maxFileSize: 0,     // 上传文件大小限制，触发 msgSizeTooLarge 提示
            // {name}：将被上传的文件名替换，{size}：将被上传的文件大小替换，{maxSize}：将被maxFileSize参数替换。
            msgSizeTooLarge: '"{name}" ({size} KB) 超过允许的最大上传大小 {maxSize} KB。请重新上传!',
            showPreview: true,  // 展示预览
            showUpload: true,   // 是否显示上传按钮
            showCaption: true,  // 是否显示文字描述
            showClose: false,   // 隐藏右上角×
            uploadAsync: true, // 是否异步上传
            initialPreviewShowDelete: true, // 预览中的删除按钮
            autoReplace: true,  // 达到最大上传数时，自动替换之前的附件
            uploadExtraData: {
                csrfmiddlewaretoken: getCookie('csrftoken'),
                'panname':decodeURI(getQueryVariable('name')),
                'path':decodeURI(getQueryVariable('path')),
            },
            initialPreview :[],　　// 默认预览设置，回显时会用到
            initialPreviewConfig: [],　　// 默认预览的详细配置，回显时会用到
        }).on("fileuploaded", function (e,data,previewId,index) {
            // 上传成功后触发的事件
            location.reload();
        }).on("fileclear", function (e) {
            // 移除按钮触发的事件，用该事件批量删除

            $.ajax({
                url: 'uploader/',
                method: 'post',
                dataType: 'json',
                data: {
                    'panname':getQueryString('name'),
                    'path':getQueryString('path'),
                    'aryFiles': JSON.stringify(aryFiles)
                },
                success: function (data) {
    　　　　　　　　　　　　　　
                }
            })
        }).on("filepredelete", function (e, key, jqXHR, data) {
            // 预览中删除按钮，删除上传的文件触发的事件
            alert('喵叽')
        }).on("fileloaded", function (e, file, previewId) {
            // aryFile.length = 0;
            // 加载预览后触发的事件，将所有文件名添加到全局变量 aryFiles 数组中
            aryFiles.push(file.name);
        })
</script>
{% endblock script %}