{% extends 'theme_AdminLTE/management/base_sec.html' %}
{% load static %}
{% load tags %}
<!-- 网盘添加 -->

{% block css %}
    <!-- DataTables -->
    <link rel="stylesheet" href="{% static 'AdminLTE-2.4.15/bower_components/datatables.net-bs/css/dataTables.bootstrap.css' %}">
    <style>
        .table-hover>tbody>tr:hover {
            background-color: rgba(62, 248, 217, 0.81);
            }
    </style>
{% endblock css %}

<!-- 左导航列表 -->
{% block sidebarMenu %}
    {{sidebar|safe}}
{% endblock sidebarMenu %}

<!--面包屑导航-->
{% block breadcrumb %}
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> {{Level}}</a></li>
        <li class="active">{{Here}}</li>
        <li class="active">{{Here}}</li>
        <li class="active">{{Here}}</li>
      </ol>
{% endblock %}

<!-- 分页主内容 -->
{% block PageContent %}
<div class="box">
    <div class="box-header">
      <h3 class="box-title">存储仓库</h3>
    </div>
    <div class="box-body">
    <a href="?name={{ Here }}">

        <button type="button" class="btn btn-info" data-toggle="modal" data-target="#modal-info">
            <i class="fa fa-folder-open-o"></i> 返回根目录 <i class="fa fa-reply-all"></i>
        </button>
    </a>
    </a>
    <a href="?name={{ Here }}{% if goback %}&path={{goback}}{% endif %}">
        <button type="button" class="btn btn-info" data-toggle="modal" data-target="#modal-info">
            <i class="fa fa-folder-open-o"></i> 返回上一级 <i class="fa fa-reply"></i>
        </button>
    </a>
    </div>
    <!-- /.box-header -->
    <div class="box-body">
    <div id="example1_wrapper" class="dataTables_wrapper form-inline dt-bootstrap">
    <div class="row">
    <div class="col-sm-12">
    <table id="example1" class="table table-hover table-striped dataTable" role="grid" aria-describedby="example1_info">
    <thead>
    <tr role="row">
    <th class="sorting_asc" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-sort="ascending" aria-label="根据 文件/目录 名 排序" style=";">文件/目录 名</th>
    <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="根据 大小 排序" style="">大小</th>
    <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="根据 修改日期 排序" style="">修改日期</th>
    </tr>
    </thead>
    <tbody>
    {% for item in files %}
    <tr role="row" class="sorting_1">
    <td>
        {% if item.mimeType == '文件夹' %}
        <a href="?name={{ Here }}&path={% if item.parentRoot %}{{item.parentRoot}}{% endif %}/{{ item|get_item:'name' }}">
            <i class="fa {{item.fileIco}}"></i>
            {{ item|get_item:"name" }}
            {% if item.childCount %}<small style="font-size: 5px;color: #8c8c8c;">(包含 {{ item|get_item:"childCount" }} 个子项）</small>{% endif %}
        </a>
        {% else %}
        <a href="file?name={{ Here }}&path={% if item.parentRoot %}{{item.parentRoot}}{% endif %}/{{ item|get_item:'name' }}">
            <i class="fa {{item.fileIco}}"></i>
            {{ item|get_item:"name" }}
        </a>
        <a href="{{item.download}}" style="float: right;"><i class="fa fa-download"></i></a>
        {% endif %}

    </td>
    <td>{{ item.size.o }}</td>
    <td>{{ item|get_item:"lastModifiedDateTime" }}</td>
    </tr>
    {% endfor %}
    </tbody>
    <tfoot>
    <tr>
    <th rowspan="1" colspan="1">文件/目录 名</th>
    <th rowspan="1" colspan="1">大小</th>
    <th rowspan="1" colspan="1">修改日期</th>
    </tfoot>
    </table>
    </div>
    </div>
    </div>
    </div>
    <!-- /.box-body -->
</div>
<!--{{test|slice:":1"}}<br>-->
<!--{{ test.2 }}<br>-->
<!--{{ info.2.folder }}<br>-->

<!--{% for item in info %}-->
<!--<tr role="row" class="">-->
    <!--<td>{{ item.folder.childCount }}</td>-->
<!--</tr>-->
<!--{% endfor %}-->

{% endblock PageContent %}

<!--添加外联JS-->
{% block Jscript %}
<script src="{% static 'AdminLTE-2.4.15/bower_components/datatables.net/js/jquery.dataTables.js' %}"></script>
<script src="{% static 'AdminLTE-2.4.15/bower_components/datatables.net-bs/js/dataTables.bootstrap.js' %}"></script>
{% endblock Jscript %}

{% block script %}
<script>
  $(function () {
    $('#example1').DataTable({})
    $('#example2').DataTable({
      'paging'      : false,
      'lengthChange': false,
      'searching'   : false,
      'ordering'    : false,
      'info'        : false,
      'autoWidth'   : false
    })
  })
</script>
{% endblock script %}